/* body {
  background-color: purple;
}

p {
  color:yellow;
}

p a { 
  color: yellow;
  text-decoration: none; 
}

#title { 
  font-size: 48px; 
}

.subtitle { 
  font-size: 36px;
}

.gutter-left { 
  margin-left: 30px;
} */
